<div id="sessionExpiredModal" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <h2>Your session has expired</h2>
        <button id="logoutButton">Logout</button>
    </div>
</div>