<div class="container">
  <form class="single-task-form" action="/tasks/<%= some._id %>" method="POST">
    <h4>Edit Task</h4>
    <div class="form-control">
      <label>Task ID</label>
      <p class="task-edit-id"><%= some._id %></p>
    </div>
    <div class="form-control">
      <label for="name">Name</label>
      <input type="text" name="name" class="task-edit-name" value="<%= some.name %>" />
    </div>
    <div class="form-control">
      <label for="completed">Completed</label>
      <input type="checkbox" name="completed" class="task-edit-completed" <%= some.completed ? 'checked' : '' %> />
    </div>
    <button type="submit" class="block btn task-edit-btn">Edit</button>
    <div class="form-alert"></div>
  </form>
  <a href="/tasks" class="btn back-link">Back to tasks</a>
</div>
